@charset "UTF-8";
/* RESET
-----------------------------------------*/
*{margin: 0; padding: 0; font-size: 100%; box-sizing: border-box; font-family: 'Oxygen', sans-serif}

ol, ul{list-style: none;}
a{text-decoration: none; color: inherit; transition: all .4s ease-in-out;}
a:hover{color: dodgerblue;}
img{max-width: 100%;}
/* end /RESET
-----------------------------------------*/

/*GERAIS
-----------------------------------------*/
.section{
    float: left;
    width: 100%;
    background: #f1f1f1;
}
.section-header{
    margin-bottom: 40px;
    text-align: left;
    font-size: 20px;    
}
.section-header h2{    
    font-size: 38px;
    font-weight: normal;
}
.section-header h3{    
    margin-top: 40px;
}
.content{
    max-width: 71%; /* +- 960 */
    margin: 0 auto;
}
.row{
    float: left;
    width: 100%;
}

/*loadmore*/
.loadmore{
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 17px;
    cursor: pointer;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.loadmore:hover{
    color: dodgerblue;
    border: 1px solid dodgerblue;
}
/* fim/GERAIS
-----------------------------------------*/

/* AUXILIARES
-----------------------------------------*/
.bg-fixed {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.bg-black {
    position: fixed;
    width: 100%;
    z-index: 6;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/* text align */
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

/* float */
.fl-left{float: left;}
.fl-right{float: right;}
/* end /AUXILIARES
-----------------------------------------*/

/* HEADER
-----------------------------------------*/
.bg-black.fixed{
    background: rgb(0, 0, 0);
    padding: 4px;
}
.anchor {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow:  2px 2px 16px rgb(0, 118, 214);
}
.anchor span {
    color: rgb(0, 118, 214);
    font-size: 2rem;
}
/* end /HEADER
-----------------------------------------*/

/*SEARCH
-----------------------------------------*/
/*slider*/
.search-box{
    position: relative;
    text-align: center;
    color: #fff;
    padding: 100px 0;
    z-index: 1;
}
#slide-0 {
    background: linear-gradient(to top, transparent 70%, black 100%), url(../images/menu-1.jpg) center no-repeat;
    z-index: -1;
}
#slide-1 {
    background: linear-gradient(to top, transparent 70%, black 100%), url(../images/menu-2.jpg) center no-repeat;
    z-index: -1;
}
#slide-2 {
    background: linear-gradient(to top, transparent 70%, black 100%), url(../images/menu-3.jpg) center no-repeat;
    z-index: -1;
}
#slide-3 {
    background: linear-gradient(to top, transparent 70%, black 100%), url(../images/menu-4.jpg) center no-repeat;
    z-index: -1;
}

.slider{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.fade{
    animation-name: fade;
    animation-duration: .5s;
}
@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
/*fim/slider*/

.search-box header p {
    font-size: 1.5rem;
}
/* formulário com calendário */
.search-box form{
    position: relative;
    display: inline-block;
    width: 90%;
    max-width: 960px;
    margin-top: 40px;
}
.search-box form input[type="search"], input#demo, form input#demo2, input#Iroom {
    float: left;
    height: 50px;
    font-size: inherit;
    color: #000000;
    padding: 0 10px 0 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
.search-box form input[type="search"]{ 
    top: 0;
    left: 0;
    width: 90%;    
    margin-bottom: 5px;
}
.search-box form input#demo, input#demo2 {
    width: 27%;
    margin-right: 5px;
}
.search-box form input#Iroom {
    width: 35%;
}
.search-box form button{
    background: rgb(0, 118, 214);
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    color: #fff;
    font-size: 25px;
    top: 12.5px;
    right: 0;
    cursor: pointer;
    transition: .5s;
}
.search-box form button:hover {
    background: rgb(99, 153, 197);
}
/* fim/formulário com calendário */

/*checkbox*/
.search-box form div#checkbox {
    float: left;
    width: 100%;
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}
.typewriter {
    font-size: 2rem;
}
/*fim/checkbox*/
/* fim/SEARCH E ESTATISTICAS
-----------------------------------------*/

/* DESTINOS
-----------------------------------------*/
.city {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 10px;
}

.cityImage {
    width: 45%;
    height: 80px;
    margin-right: 2%;
}
.cityImage {
    background: #8d8d8d;
}

.cityInfo {
    margin-top: 2%;
}
.cityInfo span {
    color: rgb(128, 128, 128);
    text-transform: uppercase;
    font-size: 15px;
}
.cityInfo h4 {
    font-size: 18px;
}

/* fim/DESTINOS
-----------------------------------------*/

/*BOX
-----------------------------------------*/
.box{
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.box-name{
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 10px;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px;
    background: #f9014d;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.box-cover{
    font-size: 0;
    line-height: 1em;
}
.box-cover img{
    width: 100%;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.box-detalhes{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px;
    color: #fff;
    font-size: 15px;
}
.box-detalhes:before{
    content: "";
    position: absolute;
    z-index: 1;
    top: -20px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    visibility: hidden;
    background: linear-gradient(to bottom, transparent, #000);
    
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: translate(0,50%);
    transform: translate(0,50%);
}
.box-detalhes-info{
    position: relative;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: translate(0,50%);
    transform: translate(0,50%);
}
.box-detalhes-info h1{
    font-size: 20px;
}

/*box:hover*/
.box:hover .box-cover img{
    -webkit-transform: scale(1);
    transform: scale(1);
}

.box:hover .box-detalhes:before,
.box:hover .box-detalhes-info{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
/*
-----------------------------------------*/
.destinos-col{
    margin-bottom: 20px;
}

/* hotéis */

.hotel-col {
    min-height: 420px;
    padding: 5px;
    margin-bottom: 20px;
    border: 2px solid rgb(128, 128, 128);    
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.box-detalhes-hotel {
    position: relative;
    display: flex;   
    flex-wrap: wrap;
    justify-content: center; 
    font-family: "montserrat", sans-serif;    
    width: 100%;
    margin-top: 5px;
    overflow: hidden;
    box-sizing: border-box;
}
.nameHotel {
    flex: 100%;
    margin-left: 5px;
    font-size: 20px;
    color: #0166e9;
    padding: 5px 0;
}
.starsHotel {    
    flex: 100%;    
    justify-self: left;
    margin-top: 5px;
    color: rgb(255, 255, 0);
}
.starsHotel span {
    padding: 2px;
    color: #fff;
    background: rgb(128, 128, 128);
    border: 2px solid rgb(128, 128, 128);
    border-radius: 5px;
}

.addres {
    flex: 100%;
    justify-items: left;
    margin-top: 9px;
    padding: 5px 0;
    border-top: 1px solid rgb(128, 128, 128);
    border-bottom: 1px solid rgb(128, 128, 128);    
}
.addres i {
    color: red;
}

.infoContainer {
    display: flex;
    flex: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    box-sizing: border-box;
}

.nota {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nota span:first-of-type {
    margin: 0 auto;
    color: #fff;
    background: rgb(0, 168, 0);    
    padding: 2px 5px;
    margin-bottom: 5px;
    width: 38px;
    border: 2px solid rgb(0, 168, 0);
    border-radius: 20px;
    font-weight: bold;    
}

.borderHotel{
    width: 1px;
    height: 80px;
    background: rgb(128, 128, 128);
}

.preco {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.preco span {
    margin: 0 auto;
    font-size: 20px;
}
.preco a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #0166e9;    
    display: block;
    margin: 10px 0;
    padding: 10px 5px;    
    border: 2px solid #0166e9;
    border-radius: 40px;    
}
.preco a:hover {
    background: #0166e9;
    color: #fff;
}

/* end/hotéis */

/* PARALLAX
-----------------------------------------*/
.parallax{
    float: left;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0 0 0.3em black, 0 0 0.3em black;
    padding: 5% 0;
    background-image: linear-gradient(to top, rgba(31, 20, 20, .6) 50%, rgba(31, 20, 20, .6) 50%), url(../images/parallax.jpg);
}
.parallax header h2{ /*passar classe unica */
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: .5em;
}
.parallax header p {
    font-size: 1rem;
}
.parallax .row-sobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.parallax .col-sobre {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 2%;
}
.parallax .parallax-sobre {
    min-height: 400px;
    background: rgba(255, 255, 255, 0.3);
    padding: 1em;
    border-radius: 10px;
}
.parallax .parallax-sobre h3 {
    font-size: 1rem;
    margin-bottom: 1em;
}
.parallax .parallax-sobre p {
    font-size: .9rem;
}
.parallax .parallax-sobre a {
    font-size: 1rem;
    color: dodgerblue;
}
.parallax .parallax-sobre a:hover {
    font-size: 1.1rem;
}
/* end /PARALLAX
-----------------------------------------*/

/* DESTAQUES
-----------------------------------------*/
.destaques-col{
    margin-bottom: 20px;
}
/* end /DESTAQUES
-----------------------------------------*/

/* TESTEMUNHAS
-----------------------------------------*/
.testemunhas{
    padding: 5% 0;
    background-image: url(../images/comentarios.jpg);
}
.testimonials { /*talvez não precise, já tem o (section-header)*/
    color: #000000;
    text-align: center;
}
.testimonials h4 {
    color: black;
    border-bottom: 5px solid dodgerblue;
    line-height: 2em;
    font-size: 1.2rem;
    font-weight: 700;
    text-shadow: 0 0 0.2em white, 0 0 0.2em white;
}
.rowTestimunials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.colTestimunials {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 2%;
}
.testimonial {
    background: rgba(255, 255, 255, 0.5);
    padding: 1em;
    border-radius: 10px;
}
.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.nameTestimonials {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 1em 0;
}
.stars {
    color: rgb(250, 212, 0);
    margin-bottom: .9em;
}
/* end /TESTEMUNHAS
-----------------------------------------*/

/* FOOTER
-----------------------------------------*/
.footer{
    background: #181818;
    float: left;
    width: 100%;
    color: #f1f1f1;
    padding: 2%;
    font-size: 1rem;
    box-sizing: border-box;
}

footer .footer-col {
    width: 100%;
    padding: .5em 0;
    margin: .5em 0;
}
footer .footer-col ul.footer-col-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
footer .footer-col ul.footer-col-links li {
    padding: .5em;
}

footer ul.footer-col-social {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
footer .footer-col ul.footer-col-social li {
    font-size: 1.2rem;
}
footer ul.footer-col-social .btn{
    position: relative;
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    color: #181818;
    background: #f1f1f1;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    overflow: hidden;
}
footer ul.footer-col-social .btn i{
    line-height: 2.2em;
    transition: 0.2s linear;
}
footer ul.footer-col-social .btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}
footer ul.footer-col-social .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: dodgerblue;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
footer ul.footer-col-social .btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa{
    0%{
        left: -110%;
        top: 90%;
    }
    50%{
        left: 10%;
        top: -30%;
    }
    100%{
        top: -10%;
        left: -10%;
    }
}
footer div.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: .5em 0;
    margin-bottom: 1em;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
footer div.line h2, footer div.line ul li {
    font-size: 1rem;
    font-weight: normal;
}
footer div.line i {
    margin: auto 0;
    font-size: 1.5rem;
    transition: 0.2s linear;
}
footer div.line i:hover {
    color: dodgerblue;
    transform: scale(1.2) rotate(-45deg);
}

footer div.footer-autorais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 0;
    font-family: 'open sans', sans-serif;
}
/* end /FOOTER
-----------------------------------------*/


/* BREACKPOINTS
-----------------------------------------*/
@media screen and (max-width: 400px){
    .anchor {
        font-size: 1.2rem;
    }
    .anchor span {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 500px){
    footer .footer-col ul.footer-col-social li {
        font-size: .7rem;
    }
    footer ul.footer-col-social .btn{
        width: 1.7em;
        height: 1.7em;
    }
    footer ul.footer-col-social .btn i{
        line-height: 1.7em;
    }
}

@media screen and (max-width: 599.9px){
    .content{
        max-width: 98%;
        margin: 0 auto;
    }
    /* menubar */
    .header{
        width: 100%;
        padding: 2%;
        align-items: center;
        z-index: 6;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    .nav-toggle{
        position: relative;
        top: .5em;
        color: dodgerblue;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .nav-close{
        color: dodgerblue;
        font-size: 1.2rem;
    }
    .header .nav.active{
        right: 0;
    } 
    .header .nav{
        background: black;
        height: 100%;
        position: fixed;
        padding: 15px;
        right: -100%;
        text-align: center;
        top: 0;
        z-index: 10;
        transition: right .7s ease-in-out;
    }
    .header .nav ul li{
        padding: 15px 5px;
        color: white;
        font-size: 20px;
        border-bottom: 1px solid dodgerblue;
    }
}

@media screen and (min-width: 600px){
    .nav-toggle, .nav-close{
        display: none;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1%;
        font-family: 'open sans', sans-serif;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    .nav ul {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        font-size: .7rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    .nav ul li a {
        display: block;
        padding: 1em;
        position: relative;
    }
    .nav ul li a {
        color: #fff;
        letter-spacing: .2em;
    }
    .nav ul li a:hover {
        color: rgb(0, 118, 214);
        text-shadow:  12px 12px 26px rgb(0, 118, 214);
    }
    /* efeito da barra */
    .nav ul li a::before,
    .nav ul li a::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgb(0, 118, 214);
        left: 0;
        transform: scaleX(0);
        transition: all .5s;
    }
    .nav ul li a::before {
        top: 0;
        transform-origin: left;
    }
    .nav ul li a::after {
        bottom: 0;
        transform-origin: right;
    }
    .nav ul li a:hover::before,
    .nav ul li a:hover::after {
        transform: scaleX(1);
    }
}

@media screen and (max-width: 768px){
    .header.content{
        max-width: 100%;
        margin: 0 auto;
    }
    /* formulário com calendário */
    .search-box form input[type="search"]{         
        width: 83%;
    }
    .search-box form input#demo, input#demo2 {
        width: 26%;
    }
    .search-box form input#Iroom {
        width: 29%;
    }
    .search-box form button{
        position: absolute;
        width: 60px;
        height: 60px;
        font-size: 20px;
        top: 22.5px;
    }
    /*estatisticas*/
    .estatisticas{
        flex-direction: column;
    }
    .estatisticas-item{
        min-width: 90%;
    }
    .estatisticas-item:not(:last-of-type){
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(0, 118, 214);
    }
    /*destinos-col*/
    .destinos-col{
        width: 32%;
        margin-right: 2%;
        margin-bottom: 2%;
        float: left;
    }
    .destinos-col:nth-of-type(3n+3){ /* a cada 3, aplica as propriedade no terceiro */
        margin-right: 0;
    }
    footer .footer-col ul.footer-col-social li {
        font-size: .9rem;
    }
    footer ul.footer-col-social .btn{
        width: 1.8em;
        height: 1.8em;
    }
    footer ul.footer-col-social .btn i{
        line-height: 1.8em;
    }
}

@media (min-width: 768px){
    /*search*/
    .search-box{
        padding: 200px 0;
    }
    .estatisticas{
        margin-top: -65px;
    }
    .estatisticas-item{
        text-align: center;
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    .estatisticas-item:not(:last-of-type){
        border-right: 1px solid #ccc;
    }
    /*destinos*/
    .city {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 2%;
        float: left;
    }
    .city:nth-of-type(2n+2) {
        margin-right: 0;
    }
    /*destaques-col*/
    .destinos-col{
        width: 32%;
        margin-right: 2%;
        margin-bottom: 2%;
        float: left;
    }
    .destinos-col:nth-of-type(3n+3){ /* a cada 3, aplica s propriedade no terceiro */
        margin-right: 0;
    }
    /* hotéis */
    .headerHotel {
        min-height: 80px;
    }
    .addres {
        min-height: 66px;
    }
    .infoContainer {
        min-height: 81px;
    }
    /*destaques*/
    .destaques-col{
        width: 49%;
        margin-right: 2%;
        margin-bottom: 2%;
        float: left;
    }
    .destaques-col:nth-of-type(2n+0){
        margin-right: 0;
    }
    /*search*/
    .search-box{
        padding: 150px 0;
    }
}


@media (min-width: 900px){
    .destinos-col:nth-child(odd),
    .destinos-col{
        width: 32%;
        margin-right: 2%;
    }
    .destinos-col:nth-of-type(3n+3){ /* a cada 3, aplica s propriedade no terceiro */
        margin-right: 0;
    }
}

@media (max-width: 1149.9px){
    .header{
        flex-direction: column;
        justify-content: center;
    }
    .header .nav {
        width: 100%;
    }
    /*testemunhas*/
    .testimonial {
        min-height: 200px;
    }
    .colTestimunials {
        flex: 100%;
        max-width: 100%;
    }
    /*parallax*/
    .parallax .col-sobre {
        flex: 100%;
        max-width: 100%;
    }
    .parallax .parallax-sobre {
        min-height: 100px;
    }
}
